<% layout('./layouts/boilerplate') -%>
<h1>Hello to the <%= title %> page</h1>
<a class="btn btn-primary" href="/campground">all campground</a>
<a class="btn btn-info" href="/campground/new">Add campground</a>
